body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    padding: 35px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

/* Infinite looping */
.infinite-box {
    padding: 20px;
    background-color: #28a745;
    color: #fff;
    font-size: 1.2em;
    margin: 20px 0;
    border-radius: 5px;
}

/* Animation speed */
.speed-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.speed-button:hover {
    background-color: #0056b3;
}

/* combo animation styling  */
.combined-text {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
}


p {
    background-color: pink;
    padding: 10px
}

div {
    background-color: rgb(155, 175, 255);
    padding: 10px
}

button {
    background-color: rgb(248, 255, 169)
}

@keyframes fadeInCustom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-custom {
    animation: fadeInCustom 2s ease-in-out;
}
